

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1590px;
    height: 90px;
    margin: auto;
}


.header {
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}




.nav {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;


}
.nav-item {
    color: #201F1E;
}
.navbar-nav{
    text-align: center;
}
.navbar-brand{
    margin-right: 9rem;
}
.navbar-nav{
    display: contents;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    position: relative;
    color: #323130;

    text-decoration: none;


}


.fa-search{
    width: 20px;
    height: 20px;
    margin-right: 1.5rem;
    margin-left: 2.5rem;

}
.fa-menu-cart{

    width: 20px;
    height: 20px;
}
.nav__serch{
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}
.nav__serch .dropdown-toggle{
    background: none;
    border: none;
}
.nav__menu{
    padding-left: 35px;
    padding-right: 80px;
}




.hero-section{
 max-width: 100%;
 height: 530px;
 position: relative;
}


.bg-home{
    width: 100%;
    height: 530px;
    object-fit: cover;
}


.bg-home img{
    width: 100%;
    height: 530px;
    object-fit: cover;

}


.hero-section-text{
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    max-width: 1395px;
}
.big__title{
    color: #fff;
    font-weight: 600;
    font-size: 42px;
    line-height: 75px;
}
.smoll__title{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 300px;
    text-align: left;
}
.button{
    text-decoration: none;
    width: 92px;
    height: 38px;
    border-radius: 5px;
    background-color: #206cb6;
    color: #fff;
    top: 33px;
    display: block;
    position: relative;
    padding-top: 9px;
    text-align: center;
}





.up__menu{
    display: flex;
    justify-content: space-between;
}
.up__menu .dropdown-toggle{
    background: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #696969;
}

.up__title{
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
}
.up__text{
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}
.accordion__menu{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #201F1E;
    padding-left: 70px;


}



.section__bg{
    width: 100%;
    display: flex;

}
.section__one{
    max-width: 360px;
}



.section__container{
    max-width: 1610px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}


.news__blocks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding-top: 50px;
}


.news__block__header{
    position: relative;
    max-height: 265px;
}
.news__block__headers{
    max-height: 533px;
    position: relative;
}
.overlay{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.4);
}


.news__block__headers img {
    max-height: 533px;
    object-fit: cover;
    max-width: 100%;

}


.news__block{
    position: relative;
}

.news__block__bodys{
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-42px);
    max-width: 100%;
    padding: 0 25px;
}


 .news__block__header__infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__block__header__infos .badges{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    background: #206CB6;
    color: #FFFFFF;
    padding: 5px 10px;
}
.news__block__header__infos .dates{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
}

.news__block__titles{
    line-height: 1.24;
    color: #fff;
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 15px;


}








.news__block__header img {
    max-height: 265px;
    object-fit: cover;
    max-width: 100%;

}
.news__block__header__info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__block__header__info .badge{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    background: #206CB6;
    color: #FFFFFF;
    padding: 5px 10px;
}

.news__block__header__info .date{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #A19F9D;
}

.news__block__body{
    padding: 30px 10px 20px 10px;
}


.news__block__title{
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.29;
    color: #201F1E;
}
.news__block__text{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.31;
    color: #605E5C;
    margin-bottom: 30px;
}

.news__block__body a {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #206CB6;
    text-decoration: none;
}


.up__panel{
    display: flex;
    justify-content: space-between;
}
.table__section{
    display: flex;
    align-items: top;
    padding-top: 110px;
    padding-bottom: 110px;
}


.table__section__banner{
    max-width: 360px;
    width: 100%;
}

.table__wrapper{
    width: 100%;
    margin-right: 50px;
    padding-top: 80px;

}

.table__container{
    padding-right: 50px;
}

.up__panel__filter{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A19F9D;
    padding-left: 48px;

}
.up__panel__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #201F1E;
}
.td__one{
    color: #201F1E;
    font-weight: 400;
    max-width: 721px;
    font-size: 14px;
    line-height: 18px


}
.img__word{
    max-width: 25px;
}
.td__two{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #605E5C;
}
.td__three{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #605E5C;
}

.table__wrapper table{
    border-spacing: 0px;
}
.table__wrapper table td{
    padding: 10px 12px;
    border-spacing: 0px;
    border-bottom: 1px solid #ccc;

}
.table__section__title{
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    color: #FFFFFF;
}
.table__section__title2{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 25px;
}
.button__banner{
    font-weight: 400;
    font-size: 14px;
    background: #206CB6;
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 5px;
}
.table__section__banner{
    position: relative;

}
.table__section__body{
    max-width: 360px;
    position: absolute;
    top: 50%;
    padding: 0 25px;
    transform: translateY(-50%);
    z-index: 2;
}


.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.mr-5{
margin-right: 1.5rem;
}


.table__section__banner img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}






.body__list{

    background-color:  #F0F5F9;
}
.grid-container{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;

}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #96c8ee;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #DCF0FF;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
.search__grid{
    position: relative;
}
.search__grid img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%,-60%);
    z-index: 2;
}
.search__grid input{
    padding-left: 30px;
    border: 1px solid #8A8886;
    border-radius: 3px;
    height: 2rem;
    width: 18.5rem;
}
.grid__right__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #201F1E;

}
.grid__right__button{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #206CB6;
    text-decoration: none;
}
.grid__item__title{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    position: absolute;
    min-width: 782px;
}
.title__grid{
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #201F1E;
}
.grid__one__title{
    display: flex;
    justify-content: space-between;

}

.grid__one__title2{
    display: flex;
    justify-content: space-between;

}
.grid__one__title2 p{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #F0F5F9;
}
.grid__one__title p{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #605E5C;
    padding-left: 30px;
    padding-right: 30px;
}
.list__li{
    display: flex;
    justify-content: end;
    padding-bottom: 125px;

}
.material-symbols-outlined{
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;


}
.list__li a {
    text-decoration: none;
}
.list__li li{
    padding-left: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #605E5C;
    text-decoration: none;
    padding-top: 30px;
    list-style: none;
}
.accordion{
    max-width: 770px;
}

.row{
    width: 100%;
}
.bg-light{
    display: flex;
    justify-content: space-between;
}






.verify__section{
position: relative;
}
.verify__title{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
 text-align: center;
}
.item__bg{
    max-width: 1903px;
}
.foot__bg{
    max-width: 1903px;
}
.item__bg__title{
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    line-height: 36px


}
.item__bg__button{
    font-weight: 400;
    font-size: 14px;
    background: #206CB6;
    color: #FFFFFF;
    padding: 10px 26px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30px;
}


.foot__bg{
    position:absolute;
}
.block__foot{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.block__one{
    max-width: 448px;
    padding-top: 83px;
}
.foot__logo{
    max-height: 57px;
}
.span__mev{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 104px;
    color: #FFFFFF;
}
.block__one__title{
    justify-content:left;
    display: flex;
}
.block__one__content{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #EDEBE9;
    padding-top: 26px;
}
.block__one__fut{
    font-weight: 400;
    font-size: 12px;
    line-height: 70px;
    color: #8A8886
}
.block__two{
    max-width: 225px;
    padding-top: 85px;
}
.navigation{
    font-weight: 300;
    font-size: 34px;
    line-height: 1.3;
    margin: 0;
    color: #8A8886;


}

.block__two__navigation{
    display: grid;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 31px;
}
.block__two__navigation a{
    text-decoration: none;
    color: #FFFFFF;
}
.block__two__title{
    display: flex;
    padding-bottom: 15px;
   align-items: center;
   border-bottom: 1px solid #8A8886;
   margin-bottom: 20px;
}

.block__two__title img{
    margin-right: 20px;
}

.block__three{
    min-width: 495px;
    padding-top: 85px;

}
.block__three__title{
    display: flex;
    padding-bottom: 15px;
   align-items: center;
   border-bottom: 1px solid #8A8886;
   margin-bottom: 20px;
}
.block__three__title img{
    margin-right: 20px;
}
.contacte{
    font-weight: 300;
    font-size: 34px;
    line-height: 1.3;
    margin: 0;
    color: #8A8886;
}
.block__three__contacte{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.block__three__one{
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}
.sfs{
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}
.block__three__two{
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}
.adress{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8A8886;
    position: absolute;
    top: 110%;
}
.block__thor{
    position: relative;
    height: 452px;
}
.block__thor__content{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    width: 9rem;
}
.block__thor img{
    height: 100%;
}
.button__see{
    font-weight: 400;
    font-size: 14px;
    background: #DEECF9;
    color: #206CB6;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 5;
}
.button__sub{
    font-weight: 400;
    font-size: 14px;
    background: #206CB6;
    color: #FFFFFF;
    padding: 10px 26px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 4;
}
.block__thor__content p{
    color: #fff;
    z-index: 4;
}


.up__panel__filter .dropdown-toggle{
    background: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #696969;

}

.up__panel__filter .btn{
    color: #201F1E;
}
.up__input{
    position: relative;
}
.up__input img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%,-60%);
    z-index: 2;
}
.up__input input{
    padding-left: 30px;
    border: 1px solid #8A8886;
    border-radius: 3px;
    height: 2rem;
    width: 18.5rem;
}



.navbar-collapse{
    z-index: 9;
    background-color: #fff;
}

.navbar-toggler span{
    width: 20px;
    height: 2px;
    background: #000;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar{
    text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;

  }


/* брейки */

@media (min-width:1540px) and (max-width:1920px){

}
@media (min-width:962px) and (max-width:1540px){
    .navbar-nav{
        font-size: 14px;
    }
    .big__title{
        font-size: 30px;
    }
    .smoll__title{
        font-size: 12px;
    }
    .up__text {
        font-size: 18px;

      }
    .accordion__menu{
        padding-left: 15px;
    }
    .table__section{
        flex-direction: column;
    }
    .table__section__banner{
        margin: auto;
    }
    .block__foot{
        flex-direction: column;
        align-items: center;
    }
    .block__thor{
        margin: 100px;
    }
    .block__two__navigation a{
        color: #201F1E;
    }
    .block__three__one{
        color: #201F1E;
    }
    .block__three__two{
        color: #201F1E;
    }
}
@media (min-width:540px) and (max-width:962px){
    .big__title{
        font-size: 30px;
    }
    .smoll__title{
        font-size: 12px;
    }
    .news__blocks{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container{
        grid-template-columns: 1fr ;
    }
    .up__text {
        font-size: 18px;

      }
      .accordion__menu{
        padding-left: 15px;
    }
    .table__section{
        flex-direction: column;
    }
    .table__section__banner{
        margin: auto;
    }
    .block__foot{
        flex-direction: column;
        align-items: center;
    }

    .block__thor{
        margin: 100px;
    }
    .block__three__title{
        justify-content: center;
    }
    .block__two__navigation a{
        color: #201F1E;
    }
    .block__three__one{
        color: #201F1E;
    }
    .block__three__two{
        color: #201F1E;
    }
    .item__bg__title{
        font-size: 20px;
        font-weight: 400;
    }
}
@media(max-width:540px){
    .news__blocks{
        grid-template-columns: repeat(2, 1fr);
    }
    .up__text {
        font-size: 18px;

      }
      .accordion__menu{
        padding-left: 15px;
    }
    .table__section{
        flex-direction: column;
    }
    .table__section__banner{
        margin: auto;
    }
    .block__foot{
        flex-direction: column;
        align-items: center;
    }
    .block__thor{
        margin: 100px;
    }
    .block__three__title{
        justify-content: center;
    }
    .block__two__navigation a{
        color: #201F1E;
    }
    .block__three__one{
        color: #201F1E;
    }
    .block__three__two{
        color: #201F1E;
    }
    .item__bg__title{
        font-size: 20px;
        font-weight: 400;
    }
}

